@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Mono", ui-monospace, SFMono-Regular, monospace;
  --font-mono: "IBM Plex Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  background-color: #DDD6C8;
  color: #1C1710;
  font-family: "IBM Plex Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: #1C1710;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  background: #C4B59F;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  background: #C4B59F;
  outline: none;
}
